select {
  border: solid 1px #000;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  background: #fff no-repeat scroll right center;
  padding-right: 14px;
  padding: 4px;
  height: 35px;
  min-width: 100px;
  border-radius:5px;
}

#headbar_div{
	background: #205081;
	color: #fff;
	padding: 0px;

}

#footbar_div{
	background: #F5F5F5;
	color: #000;
	padding: 0px;
	padding-left: 5px;
	padding-top: 5px;
	font-size: 12px;
	border: 1px solid #CCCCCC;
}


#toolbar_div{
	color: #000;
	padding: 0px;
	border-bottom: 1px solid #CCCCCC;
	font-size: 18px;
	padding-left:5px;
	padding-right:0px;
	background:#F5F5F5;
}


#sidebar_div{
	background: #F5F5F5;
	padding: 0px;
	padding-left: 0px;
	padding-top: 0px;
}

#sidebarhandler_div{
	background: #F5F5F5;
	border-right: 1px solid #CCCCCC;	
}

#tablelist_div{
	height:30%;
	width:100%;
	padding-right:10px;
	padding-left: 10px;
}

#analyser_div{
	height:70%;
	width:100%;
	overflow: hidden;
	padding-left:10px;
}


#tablelist_div2{
	height:100%;
	width:100%;
	overflow: auto;
}

#analyser_div2{
	height:95%;
	width:100%;
	padding-right:10px;
	overflow: auto;
	padding-bottom:100px;
}


#contentbar_div{
	/*
	background: 
    -webkit-linear-gradient(top, transparent 39px, #EEEEEE 40px), 
    -webkit-linear-gradient(left, transparent 39px, #EEEEEE 40px)
  ;
  background: 
    -moz-linear-gradient(top, transparent 39px, #EEEEEE 40px), 
    -moz-linear-gradient(left, transparent 39px, #EEEEEE 40px)
  ;
  background: 
    -o-linear-gradient(top, transparent 39px, #EEEEEE 40px), 
    -o-linear-gradient(left, transparent 39px, #EEEEEE 40px)
  ;
  background: 
    -ms-linear-gradient(top, transparent 39px, #EEEEEE 40px), 
    -ms-linear-gradient(left, transparent 39px, #EEEEEE 40px)
  ;
  background:
    linear-gradient(top, transparent 39px, #EEEEEE 40px),
    linear-gradient(left, transparent 39px, #EEEEEE 40px)
  ;
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  background-size: 40px 40px;
	*/
}

.plot_handler{
	width:40%;
	position:absolute;
	z-index:99999;
}
.plot_handler_top{
	cursor:ns-resize;
}
.plot_handler_bottom{
	cursor:ns-resize;
}
.plot_handler_left{
	cursor:ew-resize;
}
.plot_handler_right{
	cursor:ew-resize;
}


.plot_canvas_div{
	border-top:1px solid #AAA;
	border-left:1px solid #AAA;
	border-right:1px solid #AAA;
	border-bottom:1px solid #AAA;
	background: #fff;
	width:40%;
	padding:20px;
	position:absolute;
	z-index:99999;
}

