<div>
  <div class="row" style="height: 20px">
    <div class="col-xs-6" style="text-align:left">
      <span class="label label-success">Area Ploter : Plot area graphics</span>
    </div>
    <div class="col-xs-6" style="text-align:right">
      <span class="label label-warning" id="area_plot_button"><a href="javascript:area_plot_plot()">Plot</a></span>
    </div>
  </div>


	<div class="row">
	  <div class="col-xs-4">
       <div class="input-group">
         <span class="input-group-addon" id="basic-addon1">Title</span>
	       <input type="text" class="form-control" placeholder="Title" id="title_edit">
       </div>
	  </div>
	  <div class="col-xs-4">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">X Title</span>
	      <input type="text" class="form-control" placeholder="X Title" id="x_title_edit">
      </div>
	  </div>

	  <div class="col-xs-4">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Y Title</span>
	      <input type="text" class="form-control" placeholder="Y Title" id="y_title_edit">
	    </div>
	  </div>

	</div>

	<div class="row" style="height: 5px"></div>

	<div class="row">
	  <div class="col-xs-4">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Group</span>
	      <input type="text" class="form-control" placeholder="Group Col" id="g_col_edit">
	    </div>
	  </div>
	  <div class="col-xs-4">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">X Col</span>
	      <input type="text" class="form-control" placeholder="X Col" id="x_col_edit">
	    </div>
	  </div>

	  <div class="col-xs-4">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Y Col</span>
	      <input type="text" class="form-control" placeholder="Y Col" id="y_col_edit">
	    </div>
	  </div>

	</div>
	<hr>

</div>
