<div>
	<div class="row" style="height:20px">
	  <div class="col-xs-6" style="text-align:left">
      <span class="label label-success">Pie Ploter : Plot pie graphics</span>
    </div>

	  <div class="col-xs-6" style="text-align:right">
      <span class="label label-warning" id="pie_plot_button"><a href="javascript:pie_plot_plot()"> Plot </a></span>
    </div>
  </div>

	<div class="row">
	  <div class="col-xs-4">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Title</span>
	      <input type="text" class="form-control" placeholder="Title" id="title_edit">
	    </div>
	  </div>

	  <div class="col-xs-4">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">X Col</span>
	      <input type="text" class="form-control" placeholder="X Col" id="x_col_edit">
	    </div>
	  </div>
	  <div class="col-xs-4">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Y Col</span>
	      <input type="text" class="form-control" placeholder="Y Col" id="y_col_edit">
	    </div>
	  </div>
	  </div>

	</div>

	<hr>

</div>
