<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
		<meta charset="utf-8">  <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<link href="static/css/bootstrap.min.css" rel="stylesheet">
		<link href="static/css/bootstrap-select.min.css" rel="stylesheet">
		<link href="static/totoro/totoro.css" rel="stylesheet"></script>

		<script src="static/js/jquery-1.9.1.min.js"></script>
		<script src="static/js/highcharts.js"></script>
		<script src="static/js/jquery-ui.min.js"></script> 
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/bootstrap-select.min.js"></script>
    <script src="static/js/tablelist.js"></script>
		<script src="static/js/md5.min.js"></script> 
		<script src="static/totoro/plot_obj.js" ></script>
		<script src="static/totoro/ploter.js" ></script>
    <script src="static/totoro/totoro.js"></script>
		<script src="static/totoro/plot_dialog.js"></script>

  </head>

  <body>
		<div id="headbar_div">
			<nav class="navbar navbar-inverse">
				<div class="container-fluid">
					<div class="navbar-header">
						<span class="navbar-brand">Totoro {{ .Username }}</span>
					</div>
				</div>
			</nav>
		</div>		
		
		<div id="sidebar_div">
			<div id="logo" style="background:#F5F5F5;  padding:0px; height:30px; top:0px; padding-left:10px; padding-top: 5px; font-size:20px;">
				Totoro Analyzer
			</div>
			
			<div style="height:10px"></div>
			
			<div id="tablelist_div">
				<span class="glyphicon glyphicon-th-list"></span> Tables
				<div id="tablelist_div2" class="list-group">
				</div>
			</div>
			
			<div id="analyser_div">
				<span class="glyphicon glyphicon-pencil"></span> Analyzer
				<span style="position:absolute; right:10px">
					<a data-toggle="tooltip" data-placement="top" title="Delete Analyzer" href="javascript:on_del_button();"><span class="label label-danger">Del</span></a>
															
				</span>
				<div style="height:5px"></div>

				<div id="analyser_div2" class="list-group">
					<!-- <span class="list-group-item"><input type='checkbox'></span> -->
				</div>
			</div>
		</div>

		<div id="sidebarhandler_div"></div>

		<div id="toolbar_div">
			<div class="pull-right" id="username_div" value="{{ .Username }}" >
				{{ .Username }}
				<a data-toggle="tooltip" data-placement="left" title="Logout" class="label label-success" href="javascript:logout();"><span class="glyphicon glyphicon-log-out"></span></a>
				&nbsp;&nbsp;
			</div>


			<a data-toggle="tooltip" data-placement="right" title="Add Charts" class="label label-success" href="javascript:analyser_plot();"><span class="glyphicon glyphicon-plus"></span></a>
			<a data-toggle="tooltip" data-placement="right" title="Move Top" class="label label-primary" href="javascript:move_front(get_select_id());"><span class="glyphicon glyphicon-triangle-top"></span></a>
			<a data-toggle="tooltip" data-placement="right" title="Move Bottom" class="label label-primary" href="javascript:move_back(get_select_id());"><span class="glyphicon glyphicon-triangle-bottom"></span></a>

			<a data-toggle="tooltip" data-placement="right" title="Table Arrange" class="label label-primary" href="javascript:table_arrange();"><span class="glyphicon glyphicon-th"></span></a>
			<a data-toggle="tooltip" data-placement="right" title="Row Arrange" class="label label-primary" href="javascript:row_arrange();"><span class="glyphicon glyphicon-align-justify"></span></a>

			&nbsp;&nbsp;&nbsp;&nbsp;
			
			<a data-toggle="tooltip" data-placement="right" title="Delete Chart" class="label label-danger" href="javascript:delete_plot(get_select_id());"><span class="glyphicon glyphicon-trash"></span></a>
			<a data-toggle="tooltip" data-placement="right" title="Delete All Charts" class="label label-warning" href="javascript:del_all_charts();"><span class="glyphicon glyphicon-trash"></span> All</a>
			<a data-toggle="tooltip" data-placement="right" title="Delete Repeat Charts" class="label label-warning" href="javascript:del_repeat_charts();"><span class="glyphicon glyphicon-trash"></span> Repeat</a>

			
		</div>
		
		<div id="contentbar_div"></div>

		<div id="footbar_div">Totoro Analyzer</div>


		<!-- plot_dialog -->
		<div class="modal fade" id="plot_dialog" tabindex="-1" role="dialog" aria-labelledby="" style="z-index:9999999">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

						<h5 class="modal-title" id="plot_dialog_title"></h5>

					</div>
					<div class="modal-body">
						<div class="row" style="padding:0px; padding-bottom:5px;">
							<div class="col-md-12">
								<span class="label label-info">Plot Parameters</span>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-12">
								<div class="input-group">
									<span class="input-group-addon">Choose Plot Type</span>
									<select class="form-control" id="plot_type_select" >
										<option>line_ploter</option>
										<option>area_ploter</option>
										<option>pie_ploter</option>
									</select>
								</div>
							</div>
						</div>
						
						<div style="height:10px"></div>
						
						<div class="row" id="paras_div">paras</div>

						<hr>
						
						<div class="row" style="padding:0px; padding-bottom:5px;">
							<div class="col-md-12">
								<span class="label label-info">SQL Edit</span>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-12">
								<textarea style="resize:vertical;min-height:100px" class="form-control" id="sql_edit" value=""></textarea>
							</div>
						</div>

						<hr>

						<div class="row" style="padding:0px; padding-bottom:5px;">
							<div class="col-md-12">
								<span class="label label-info">Save As Analyzer</span>
							</div>
						</div>


						<div class="row">
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">Table</span>
									<select class="form-control" id="table_dialog_select" >
									</select>
								</div>
							</div>

							<div class="col-md-6">
								<div class="input-group">
									<span class="input-group-addon">Analyzer Name</span>
									<input type="text" class="form-control" aria-describedby="basic-addon1" id="analyser_name_input">
								</div>
							</div>

							<div class="col-md-2">
								<button type="button" class="btn btn-primary" id="save_analyser_button">Save</button>
							</div>
							
						</div>

					</div>
					<div class="modal-footer">
						
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" id="plot_apply_button">Apply</button>
					</div>
				</div>
			</div>
		</div>
		
  </body>
</html>
