select {
  border: solid 1px #000;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  background: #fff no-repeat scroll right center;
  padding-right: 14px;
  padding: 4px;
  height: 35px;
  min-width: 100px;
  border-radius:5px;
}

